# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/
.vscode/settings.json
.vscode/settings.json
results.html
results.csv
.vscode/settings.json

# Standard profiles
force-app/main/default/profiles/Admin.profile-meta.xml
force-app/main/default/profiles/Analytics Cloud Integration User.profile-meta.xml
force-app/main/default/profiles/Analytics Cloud Security User.profile-meta.xml
force-app/main/default/profiles/Anypoint Integration.profile-meta.xml
force-app/main/default/profiles/Authenticated Website.profile-meta.xml
force-app/main/default/profiles/B2B Reordering Portal Buyer Profile.profile-meta.xml
force-app/main/default/profiles/Chatter External User.profile-meta.xml
force-app/main/default/profiles/Chatter Free User.profile-meta.xml
force-app/main/default/profiles/Chatter Moderator User.profile-meta.xml
force-app/main/default/profiles/ContractManager.profile-meta.xml
force-app/main/default/profiles/Cross Org Data Proxy User.profile-meta.xml
force-app/main/default/profiles/Customer Community Login User.profile-meta.xml
force-app/main/default/profiles/Customer Community Plus Login User.profile-meta.xml
force-app/main/default/profiles/Customer Community Plus User.profile-meta.xml
force-app/main/default/profiles/Customer Community User.profile-meta.xml
force-app/main/default/profiles/Customer Portal Manager Custom.profile-meta.xml
force-app/main/default/profiles/Customer Portal Manager Standard.profile-meta.xml
force-app/main/default/profiles/External Apps Login User.profile-meta.xml
force-app/main/default/profiles/External Identity User.profile-meta.xml
force-app/main/default/profiles/Force%2Ecom - App Subscription User.profile-meta.xml
force-app/main/default/profiles/Force%2Ecom - Free User.profile-meta.xml
force-app/main/default/profiles/Gold Partner User.profile-meta.xml
force-app/main/default/profiles/High Volume Customer Portal User.profile-meta.xml
force-app/main/default/profiles/HighVolumePortal.profile-meta.xml
force-app/main/default/profiles/Identity User.profile-meta.xml
force-app/main/default/profiles/Minimum Access - API Only Integrations.profile-meta.xml
force-app/main/default/profiles/Minimum Access - Salesforce.profile-meta.xml
force-app/main/default/profiles/Partner App Subscription User.profile-meta.xml
force-app/main/default/profiles/Partner Community Login User.profile-meta.xml
force-app/main/default/profiles/Partner Community User.profile-meta.xml
force-app/main/default/profiles/PlatformPortal.profile-meta.xml
force-app/main/default/profiles/Read Only.profile-meta.xml
force-app/main/default/profiles/Salesforce API Only System Integrations.profile-meta.xml
force-app/main/default/profiles/Silver Partner User.profile-meta.xml
force-app/main/default/profiles/SolutionManager.profile-meta.xml
force-app/main/default/profiles/Standard.profile-meta.xml
force-app/main/default/profiles/StandardAul.profile-meta.xml
force-app/main/default/profiles/Work%2Ecom Only User.profile-meta.xml
